<!-- <p> 
    <mat-toolbar color="primary">


        <mat-toolbar-row>
            <section>

                <div class="example-button-row">
                    <button mat-button>الرئيسية</button>
                    <button mat-button>من نحن </button>
                    <button mat-button>اتصل بنا </button>
                    <button mat-button>خدماتنا</button>
                    <button mat-button>تسجيل الدخول </button>
                    <span class="example-spacer">
         </span>

                    <a href="localhost:4200"></a>

                </div>
            </section>



        </mat-toolbar-row>
    </mat-toolbar>
</p>-->
<nav class="navbar navbar-expand-lg navbar-light bg-info text-danger">
    <a class="navbar-brand" href="#"><img class="logo text-left" src="/assets/logo.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text" href="#">الريئسيه <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">من نحن</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اتصل بنا</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           خدماتنا
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">انشاء متجر </a>
                    <a class="dropdown-item" href="#">تطبيق موبيل</a>
                    <a class="dropdown-item" href="#">pos</a>
                </div>
            </li>
        </ul>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
</nav>
<div></div>